blinker
certifi==2023.7.22
charset-normalizer
click
dnspython
flask
idna==3.4
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
numpy
pandas
pymongo==3.11.0
python-dateutil
python-dotenv
pytz
requests
six
tzdata
urllib3
werkzeug
zipp
pytest
